[submodule "NEMS"]
	path = NEMS
	url = gerrit:NEMS
	branch = coupling
[submodule "GSM"]
	path = GSM
	url = gerrit:EMC_GSM
[submodule "CICE_SRC"]
	path = CICE_SRC
	url = gerrit:EMC_CICE
[submodule "HYCOM"]
	path = HYCOM
	url = gerrit:HYCOM_code
